.App {
  background-color: #FAFAFA;
  min-height: 100vh;
  position: relative;
}
.app-grid {

}
@media only screen and (min-width: 768px) {
  .app-grid {
    padding: 0 10rem;
  }
}
h1 {
  color: #2196F3;
}
.api-docs-link {
  color: #FFEB3B;
  margin-right: 1rem;
  transition: all 1.5s ease-in-out;
}
.api-docs-link:hover {
  transform: rotate(360deg) scale(1.5);
}
.home-link {
  text-decoration: none;
  color: #FFF;
}

/* PAPER / Local Weather */
.local-weather-ticker {
  padding: 1rem;
  width: calc(100% - 2rem);
  border-radius: 0 !important;
}
.local-weather-ticker-header {
  color: #2196F3;
  font-size: 1.5rem;
  padding-right: 1rem;
}
@media only screen and (max-width: 768px) {
  .local-weather-ticker-header {
    display: block;
    padding-bottom: 0.5rem;
  }
}
.local-weather-ticker div {
  display: inline-block;
  padding-right: 1rem;
}
.local-weather-category {
  color: #2196F3;
  padding-right: 0.5rem;
}
.local-weather-ticker > div > img {
  margin-bottom: -1rem;
}

/* FORM */
.weather-form {
  margin: 1rem 0 2rem 0;
}
.weather-form-container {
  text-align: center;
}
.weather-form .weather-form-input {
  width: 50%;
  margin-right: 1rem;
  color: #424242;
}
.MuiInput-underline-222:hover:not(.MuiInput-disabled-221):not(.MuiInput-focused-220):not(.MuiInput-error-223):before {
  border-bottom: 2px solid #2196F3 !important;
}
.weather-form .MuiInput-underline-222:after {
  border-bottom: 2px solid #2196F3;
}
.weather-form-btn {
  min-width: 100px;
  max-width: 300px;
  height: 35px;
  background-color: #2196F3;
  border: none;
  border-radius: 3px;
  font-variant: small-caps;
  font-size: 1.25rem;
  color: #FFF;
  cursor: pointer;
}
.weather-form-btn:hover, .weather-form-btn:active {
  transition: 0.15s;
  color: #2196F3;
  background-color: #FFF;
  border: 1px solid #2196F3;
}
.weather-form .weather-form-helper-text {
  font-size: 0.75rem;
  font-style: italic;
}

/* CARD */
.weather-card {
  padding: 1rem 3rem 3rem 3rem;
  min-height: 25vh;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 768px) {
  .weather-card h1 {
    display: none;
  }
}
.weather-card p {
  padding: 1.5rem;
  margin: 0;
  font-size: 1.5rem;
  border-bottom: 2px solid #2196F3;
}
.weather-card .weather-category {
  color: #2196F3;
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 0.75rem;
}
.weather-card .measurement-unit {
  font-size: 0.9rem;
  padding-left: 0.25rem;
  font-weight: 100;
}
.weather-card .weather-icon {
  margin-bottom: -1rem;
}
.weather-card-error {
  font-size: 1.75rem;
  color: #F44336;
  text-align: center;
}
.weather-card .weather-card-error {
  border: none;
}

/* FOOTER */
.footer-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.25rem;
  width: 100%;
  padding: 1.5rem;
  color: #FFF;
  background-color: #2196F3;
}
.footer-copyright {
  display: inline-block;
  padding-left: 3rem;
}
.footer-link {
  display: inline-block;
  float: right;
  padding-right: 6rem;
}
.footer-link a {
  text-decoration: none;
  color: #FFF;
}
.footer-link:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .footer-container, .footer-copyright, .footer-link {
    width: 100%;
    padding: 0.25rem 0;
    text-align: center;
  }
  .footer-container {
    padding: 0;
  }
}
