.App {
  background-color: #FAFAFA;
  min-height: 100vh;
  position: relative;
}
.app-grid {

}
@media only screen and (min-width: 768px) {
  .app-grid {
    padding: 0 10rem;
  }
}
h1 {
  color: #2196F3;
}

/* NAV BAR */
.navbar {
  margin: 0;
  padding: 0;
}
.navbar .app-bar {
  background-color: #2196F3 !important;
}
.navbar .app-bar a {
  text-decoration: none;
  color: #FFF;
}
.api-docs-link span {
  color: #FFEB3B;
  padding: 19px 1rem;
  width: 25px;
  height: 25px;
  transition: all 1.5s ease-in-out;
}
.api-docs-link:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.api-docs-link span:hover {
  transform: rotate(360deg) scale(1.5);
}
.navbar-link {
  text-decoration: none;
  color: #FFF;
  padding: 1.5rem;
}
.navbar-link:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
@media only screen and (max-width: 768px) {
  .navbar-link {
    padding: 1.5rem 0.5rem;
  }
}

/* Local Weather / PAPER */
.local-weather-ticker {
  padding: 1rem;
  padding-top: 0.5rem;
  border-radius: 0 !important;
}
.local-weather-ticker-header {
  color: #2196F3;
  font-size: 1.5rem;
  padding-right: 1.75rem;
}
.local-weather-ticker div {
  display: inline-block;
  padding-right: 1.25rem;
}
.local-weather-category {
  color: #2196F3;
  padding-right: 0.5rem;
}
.local-weather-ticker > div > img {
  margin-bottom: -1.25rem;
}
@media only screen and (max-width: 768px) {
  .local-weather-ticker-header {
    display: block;
    padding-bottom: 0.35rem;
  }
  .local-weather-category {
    padding-right: 5px;
  }
  .local-weather-ticker > div {
    line-height: 1.5rem;
    padding-right: 0.75rem;
  }
  .local-weather-ticker > div > img {
    height: 35px;
    width: 35px;
    margin-bottom: -12px;
  }
}

/* CITY WEATHER INPUT */
.city-weather-form {
  margin: 1rem 0 2rem 0;
}
.city-weather-form-container {
  text-align: center;
}
.city-weather-form .city-weather-form-input {
  width: 50%;
  margin-right: 1rem;
  color: #424242;
}
[class*="MuiInput-underline-"]:after {
  border-bottom: 2px solid #2196F3 !important;
}
.city-weather-form-btn {
  min-width: 100px;
  max-width: 300px;
  height: 35px;
  background-color: #2196F3;
  border: none;
  border-radius: 3px;
  font-variant: small-caps;
  font-size: 1.25rem;
  color: #FFF;
  cursor: pointer;
}
.city-weather-form-btn:hover, .city-weather-form-btn:active {
  transition: 0.15s;
  color: #2196F3;
  background-color: #FFF;
  border: 1px solid #2196F3;
}

/* CARD */
.weather-card {
  padding: 1rem 3rem 3rem 3rem;
  min-height: 25vh;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 768px) {
  .weather-card h1 {
    display: none;
  }
  .weather-card {
    padding: 0;
  }
}
.weather-card p {
  padding: 1.5rem;
  margin: 0;
  font-size: 1.5rem;
  border-bottom: 2px solid #2196F3;
}
.weather-card .weather-category {
  color: #2196F3;
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 0.75rem;
}
.weather-card .measurement-unit {
  font-size: 0.9rem;
  padding-left: 0.25rem;
  font-weight: 100;
}
.weather-card .weather-icon {
  margin-bottom: -1rem;
}
.weather-card .weather-card-error {
  margin-top: 3rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .weather-card .weather-card-error {
    margin-top: 0;
  }
}
.weather-card .city-weather-form-helper-text {
  font-size: 0.9rem;
  padding-top: 0;
}
.weather-card .weather-card-error, .weather-card .city-weather-form-helper-text {
  color: #3F51B5;
  text-align: center;
  border-bottom: none;
}
.sunrise-icon, .sunset-icon {
  margin-bottom: -0.5rem;
  font-size: 36px !important;
}
.weather-card .sunrise-icon {
  color: #ffa700;
}
.weather-card .sunset-icon {
  color: #fd5e53;
}

/* FORECAST WEATHER CARD */
.forecast-card-container {
  padding-bottom: 5rem;
}
.forecast-weather-card {
  font-size: 0.9rem;
  padding: 0 1rem;
}
.forecast-weather-card .forecast-time-stamp {
  font-size: 1rem;
  text-align: center;
  color: #2196F3;
}
.forecast-weather-card .weather-category {
  color: #2196F3;
}
.forecast-weather-card .weather-icon {
  height: 2rem;
  width: 2rem;
  margin-bottom: -0.7rem;
}

/* WEATHER CAM CONTAINER */
.weather-cam-container {
  padding-bottom: 5rem;
}
.weather-cam-container [class*="MuiCardHeader-content-"] span {
  font-size: 1rem;
}
.weather-cam-container h1 {
  text-align: center;
}

/* FOOTER */
.footer-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.25rem;
  padding: 1.5rem;
  color: #FFF;
  background-color: #2196F3;
}
.footer-copyright {
  display: inline-block;
  padding-left: 3rem;
}
.footer-link {
  display: inline-block;
  float: right;
  padding-right: 3rem;
}
.footer-link a {
  text-decoration: none;
  color: #FFF;
  padding: 1.5rem 1rem;
}
.footer-link a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
@media only screen and (max-width: 768px) {
  .footer-container, .footer-copyright, .footer-link {
    width: 100%;
    padding: 0.25rem 0;
    text-align: center;
  }
  .footer-container {
    padding: 0;
  }
  .footer-link a {
    padding: 0;
  }
}
